.row {
  margin-right: 0;
  margin-left: 0;
}

.col-12 {
  padding-right: 0;
  padding-left: 0;
}
.Navbar-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14618f;
  padding: 10px 10px 10px 10px !important;
}
.left-postion h2 {
  color: #fffdfd;
}
.left-postion {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-postion ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.Right-postion {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.Right-postion button {
  margin-left: 1rem;
}

ul li {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  cursor: pointer;
  color: #fffdfd;
}
ul li:hover {
  color: white;
}
dl,
ol,
ul {
  margin-bottom: 0px !important;
}

.left-postion img {
  display: none;
}
.mobile-responcive {
  display: none;
}
.about-us{
  color: #fff;
}
/* MOBILE RESPONCCIVE STYLING START  */
@media screen and (max-width: 700px) {
  .left-postion ul {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid;
    position: absolute;
    left: 0.5rem;
    top: 3rem;
    padding: 5px 0px 5px 1rem !important;
    border-radius: 10px;
    background-color: #165e80;
    cursor: pointer;
    z-index: 1;
  }

  ul li {
    text-align: center;
  }
  ul li:hover {
    background: #fff;
    color: #0085da !important;
    border-radius: 10px;
    padding: 2px;
  }
  .left-postion img {
    width: 40px;
    display: block;
  }
  .mobile-responcive {
    display: flex;
  }
  .web-responcive {
    display: none;
  }
}
